<div class="container-md mw-50">
  <ul class="list-group">
    <li class="list-group-item">
      <div class="d-flex justify-content-between">
        <h2>Education Survey</h2>
        <a href="#" class="btn btn-primary">Participate</a>
      </div>
    </li>
    <li class="list-group-item">
      <div class="d-flex justify-content-between">
        <h2>Car Survey</h2>
        <a href="#" class="btn btn-primary">Participate</a>
      </div>
    </li>
    <li class="list-group-item">
      <div class="d-flex justify-content-between">
        <h2>Diet Survey</h2>
        <a href="#" class="btn btn-primary">Participate</a>
      </div>
    </li>
    <li class="list-group-item">
      <div class="d-flex justify-content-between">
        <h2>Pet Survey</h2>
        <a href="#" class="btn btn-primary">Participate</a>
      </div>
    </li>
  </ul>
</div>
